{% extends 'base.html.twig' %}

{% block title %}Loisirs{% endblock %}

{% block body %}
    <h1>Loisirs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loisir.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ loisir.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('loisirs_index') }}">back to list</a>

    <a href="{{ path('loisirs_edit', {'id': loisir.id}) }}">edit</a>

    {{ include('loisirs/_delete_form.html.twig') }}
{% endblock %}
