<!DOCTYPE html>
<html>
<head>
<title>Gérard Depardieu - CV</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{ asset('style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ asset ('headshot.jpg') }}" alt="Gérard Depardieu" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Gérard Depardieu</h1>
			<h3 class="quickFade delayThree">Numéro de CV:{{number}}</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:gerard@depardieu.ru" target="_blank">gerard@depardieu.ru</a></li>
				<li>w: <a href="http://www.depardieu.com">www.Depardieu.com</a></li>
				<li>t: 0123456789</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profil</h1>
				</div>
				
				<div class="sectionContent">
					<p>Gérard Depardieu est un acteur français, né le 27 décembre 1948 à Châteauroux. Il est également citoyen russe depuis 2013.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Experiences</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Leclerc</h2>
					<p class="subDetails">Janvier 2019 - Maintenant</p>
						{% for experience in experiences %}
						{{ experience.getdescription() }}
						<br>
						{% endfor %}
				</article>

			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Formations</h1>
			</div>
			
				<div class="sectionContent">
				<article>
					<h2>Lycée du Fouillou</h2>
					<p class="subDetails">Bacalauréat</p>
						{% for formation in formations %}
						{{ formation.getType() }}
						<br>
						{% endfor %}
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Loisirs</h1>
			</div>
			
				<div class="sectionContent">
				<article>
					<h2>Activités Sportives</h2>
					<p class="subDetails">Ce que j'aime faire</p>
						{% for loisir in loisirs %}
						{{ loisir.getType() }}
						<br>
						{% endfor %}
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>